<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<style>
    li {
        float: left;
        list-style: none;
        padding-left: 10px;
    }
</style>
<body>
<h1 th:text="'总共'+${goods.count}+'条'"></h1>

<input th:value="${name}" id="key" type="text"/>
<input onclick="keySearch()" type="button" value="搜索"/>

<div>
    <input value="价格升序" type="button" onclick="searchOrderBy(1)"/>
    <input value="折扣升序" type="button" onclick="searchOrderBy(2)"/>
    <input value="最低价更新" type="button" onclick="searchOrderBy(3)"/>
    <input value="提醒价升序" type="button" onclick="searchOrderBy(5)"/>
    <input value="清理排序" type="button" onclick="searchOrderBy(4)"/>
</div>

<div>
    <input value="京东" type="button" onclick="serchByPlatform(0)"/>
    <input value="苏宁" type="button" onclick="serchByPlatform(1)"/>
    <input value="国美" type="button" onclick="serchByPlatform(2)"/>
    <input value="考拉" type="button" onclick="serchByPlatform(3)"/>
    <input value="亚马逊" type="button" onclick="serchByPlatform(4)"/>
</div>

<table border="1">
    <tr>
        <td width="30">序号</td>
        <td width="30">来源</td>
        <td width="200">商品名</td>
        <td width="50">价格</td>
        <td width="50">折扣</td>
        <td width="50">提醒价</td>
        <td width="120">创建时间</td>
        <td width="120">更新时间</td>
        <td width="150">操作</td>
    </tr>
    <tr th:each="commodity,stat : ${goods.list}">
        <td th:text="${stat.count}">1</td>
        <td>
            <img th:src="'http://res.luckygrra.com/resources/'+${commodity.platform}+'.ico'" width="28" height="28">
        </td>
        <td th:text="${#strings.trim(commodity.name)}">name</td>
        <td th:text="${commodity.price}">price</td>
        <td th:text="${commodity.percent}">low_price</td>
        <td th:text="${commodity.sendPrice}">send_price</td>
        <td th:text="${#dates.format(commodity.createtime,'yyyy-MM-dd HH:mm:ss')}">time</td>
        <td th:text="${#dates.format(commodity.lowtime,'yyyy-MM-dd HH:mm:ss')}">time</td>
        <td>
            <a th:href="${commodity.url}" target="_blank">下单</a> |
            <a th:href="${commodity.asdUrl}" target="_blank">asd</a> |
            <a th:href="'/web/stat/'+${commodity.id}" target="_blank">波动</a> |
            <a href="javascript:void(0)" th:onclick="'noSelect('+${commodity.id}+')'">no</a>
        </td>
    </tr>
</table>

<ul id="pagetool">
</ul>

<script th:inline="javascript" type="text/javascript">
    var total = [[${goods.count}]];
    var size = [[${size}]];
    var name = [[${name}]];
    var offset = [[${offset}]];
    var taskId = [[${taskId}]];
    var orderBy = [[${orderBy}]];
    var platform = [[${platform}]];
    var page = Math.ceil(total / size);
    console.info(page);
    var pagetool = document.getElementById("pagetool");
    for (var i = 1; i <= page; i++) {
        if (i === 1 || Math.abs(i - offset) <= 5) {
            url = getUrl(i, name, size, taskId, orderBy, "");
            var li = document.createElement("li");
            var a = document.createElement("a");
            a.setAttribute("href", url);
            a.innerText = i;
            if (i === 1) {
                a.innerText = "首页";
            }
            li.appendChild(a);
            pagetool.appendChild(li);
        }
    }

    function noSelect(commodityId) {
        var ajax = new XMLHttpRequest();
        ajax.open('get', '/web/goods/noSelect/' + commodityId);
        ajax.send();
        ajax.onreadystatechange = function () {
            if (ajax.readyState === 4 && ajax.status === 200) {
                //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                console.log(ajax.responseText);//输入相应的内容
                alert("修改成功！");
                window.location.reload();
            }
        }
    }

    function keySearch() {
        var key = document.getElementById("key").value;
        window.location.href = getUrl(1, key, size, taskId, orderBy, "");
    }

    function searchOrderBy(by) {
        window.location.href = getUrl(1, name, size, taskId, by, "");
    }

    function serchByPlatform(plt) {
        window.location.href = getUrl(1, name, size, taskId, orderBy, plt);
    }

    function getUrl(i, name, size, taskId, orderBy, platform) {
        return "/web/goods/" + i + "?name=" + name + "&size=" + size + "&taskId=" + taskId + "&orderBy=" + orderBy + "&platform=" + platform;
    }

</script>
</body>
</html>