<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>价格监控</title>
</head>
<body>

<div>
    <input id="sendPrice" type="text"/>
    <input onclick="updateSendPrice()" type="button" value="更新发送邮件价格"/>
</div>

<div>
    <h1 th:text="${goods.name}"></h1>
    <h2 th:text="'当前价格：'+${goods.price}"></h2>
    <h2>商品地址：<a th:href="${goods.url}" target="_blank"><span th:text="${goods.url}"></span></a></h2>
</div>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>

<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script th:inline="javascript" type="text/javascript">
    var commodityId = [[${goods.id}]];

    Date.prototype.format = function (format) {
        var args = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(format))
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var i in args) {
            var n = args[i];
            if (new RegExp("(" + i + ")").test(format))
                format = format.replace(RegExp.$1, RegExp.$1.length === 1 ? n : ("00" + n).substr(("" + n).length));
        }
        return format;
    };

    var prices = [[${prices}]];
    xdata = [];
    data = [];
    tmp = 0;
    prices.forEach(function (value) {
        if (tmp !== value.price) {
            tmp = value.price;
            xdata.push(new Date(value.createtime).format("yyyy-MM-dd hh:mm:ss"));
            data.push(value.price);
        }
    });


    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/line' // 按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            option = {
                title: {
                    text: '价格变动'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['价格']
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: xdata
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        scale: true
                    }
                ],
                series: [
                    {
                        name: '价格',
                        type: 'line',
                        data: data,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'}
                            ]
                        }
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );

    function updateSendPrice() {
        var sendPrice = document.getElementById("sendPrice").value;
        console.info('/web/goods/sendPrice/' + commodityId + "/" + sendPrice);
        var ajax = new XMLHttpRequest();
        ajax.open('get', '/web/goods/sendPrice/' + commodityId + "/" + sendPrice);
        ajax.send();
        ajax.onreadystatechange = function () {
            if (ajax.readyState === 4 && ajax.status === 200) {
                //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                console.log(ajax.responseText);//输入相应的内容
                alert("修改成功！");
            }
        }
    }

    function checkRate(input) {
        var re = /^[1-9]+[0-9]*]*$/;
        if (!re.test(input)) {
            alert("请输入正整数");
            return false;
        }
        return true
    }
</script>

</body>
</html>