<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>价格监控</title>
</head>
<body>

<div>
    <h1 th:text="${goods.name}"></h1>
    <h2 th:text="'当前价格：'+${goods.price}"></h2>
    <h2>商品地址：<a th:href="${goods.url}" target="_blank"><span th:text="${goods.url}"></span></a></h2>
</div>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>

<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script th:inline="javascript" type="text/javascript">

    var prices = [[${prices}]];
    xdata = [];
    data = [];
    prices.forEach(function (value) {
        xdata.push(value.createtime);
        data.push(value.price);
    });


    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/line' // 按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            option = {
                title: {
                    text: '价格变动'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['价格']
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: xdata
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        scale: true
                    }
                ],
                series: [
                    {
                        name: '价格',
                        type: 'line',
                        data: data,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'}
                            ]
                        }
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );
</script>

</body>
</html>