<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>邮件</title>
</head>
<body>
<h1><img src="http://res.luckygrra.com/resources/0.ico" width="50" height="50"></h1>
<h2>三星（SAMSUNG）QA55Q6FAMJXXZ 55英寸4K光量子点超薄QLED液晶电视55Q6F</h2>
<h3>当前价格：<span style="color: red">6299</span></h3>
<h3>根据平台监控降价：<span style="color: red">1000</span></h3>
<h3><a target="_blank" href="https://product.suning.com/0070138862/10140497731.html">商品地址</a></h3>
<h3><a target="_blank" href="http://taole.luckygrra.com/web/stat/4624">波动</a></h3>
</body>
</html>